.vscode/
workspace
.idea/
# build output
/hive

# don't include target files
hivesim-rs/Cargo.lock
hivesim-rs/target
simulators/*/Cargo.lock
simulators/*/target
node_modules/
dist/
hiveview
package-lock.json
tsconfig.tsbuildinfo